@use '../abstracts/variables';
@use '../abstracts/mixins';
@use '../abstracts/colors';
@use '../abstracts/fonts';

nav {
  @include mixins.flex-horizontal;

  padding: variables.$padding-primary;
  background-color: colors.$bg-secondary;
  font-size: fonts.$size-header-primary;
  font-weight: fonts.$weight-header;
  color: colors.$text-primary;
}

.menu {
  @include mixins.flex-horizontal;
  gap: variables.$padding-primary;
}
