@use 'base';
@use 'components';

@use 'abstracts/fonts';

/* Global settings */

/* Elements */

html {
  font-size: 100%;
}

body { 
  font-family: fonts.$primary;
}

a {
  cursor: pointer;
}


/* Classes */

.hidden {
  display: none;
}

.clickable {
  cursor: pointer;
}
