@use '../abstracts/colors';

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  background-color: colors.$bg-main;
}

nav, footer {
  margin: 0.4rem;
  display: flex;
  justify-content: space-between;
  color: colors.$text-primary;
  font-weight: bold;
  font-size: 1rem;
}

footer {
  padding: 0.2rem 0.5rem;
}

#workspace {
  display: flex;
  gap: 1rem;
  flex: 1;
  color: colors.$text-primary;
  padding: 1rem;
}
